html {
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-position-x: -250px;
  background-color: rgb(226, 223, 223);
  
  font-weight: bold;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}


div.column.flex-container {
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 95vh;
    border-radius: 10px;
  }

div.flex-container.row {
    background-color: rgba(24, 50, 168, 0.473);
    display: flex;

  }

div.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 223, 223);
    width: 100px;
    height: 100px;
    font-size: 100px;
  }

/* Draw lines */
#pos1, #pos2, #pos3 {
    margin-bottom: 5px;
  }

#pos7, #pos8, #pos9 {
  margin-top: 5px;
}

#pos2, #pos5, #pos8 {
  margin-left: 5px;
  margin-right: 5px;
}

div.board {
  position:relative;
}
div.line {
  display: none;
  position:absolute;
  z-index: 999999;
  width: 140%;
  height: 5px; 
  top: -1%;
  left:0;
  border-radius: 3px;
  background-color: rgb(255, 0, 0);
  transform-origin: top left;
  rotate: 45deg;
}

#heart {
  position: relative;
  width: 100px;
  height: 90px;
  margin-top: 10px;
}

#heart::before, #heart::after {
  content: "";
  position: absolute;
  top: 0;
  width: 52px;
  height: 80px;
  border-radius: 50px 50px 0 0;
  background: rgb(236, 81, 81);
}

#heart::before {
  left: 50px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

#heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}